// main: "../style.less"

/* TYPOGRAPHY =====================================================================================
==================================================================================================*/

.title{
    font-weight: 700;
    font-size: 48px;
    line-height: 1.2;
    padding-bottom: 32px;
}

.title--main{
    font-size: 60px;
}

.title--secondary{
    font-size: 48px;
}

.paragraph{
    font-size: 16px;
    line-height: 1.4;
}

.paragraph--lh-sm{
    line-height: 1.2;
}


@media screen and (max-width: @breakpoint-phone-lg) {
    .title--main{
        font-size: 40px;
    }

    .title--secondary{
        font-size: 34px;
    }
}

@media screen and (max-width: @breakpoint-phone) {
    .title--main{
        font-size: 30px;
    }

    .title--secondary{
        font-size: 24px;
    }
}